<div id='container'>
<a href="#/links">Links</a>
  
  <form name="shortForm" ng-submit="shortForm.$valid && addLink(link.url);" novalidate>
    <input name="link" type="url" placeholder="Put Big Ol Link Here" ng-model="link.url" required></input>
    <input type="submit" value="Stumpit"/> 
    <!-- ng-click="addLink(newLink); newLink=''">Stumpit</button></br> -->
  </form>
  

  <span>Ha!!! {{ newLink }} </span></br>
  <span>bam!!! {{ link.url }}</span> </br>
  <span>wham!!! {{ link | json }}</span></br>

</div>


