<div id='container'>
<a href="#/links">Links</a>
  
  <form name="shortForm" ng-submit="shortForm.$valid && addLink(newLink); newLink=''" novalidate>
    <input name="newLink" type="url" placeholder="Put Big Ol Link Here" ng-model="newLink" required></input>
    <input type="submit" value="Stumpit"/> 
    <!-- ng-click="addLink(newLink); newLink=''">Stumpit</button></br> -->
  </form>
  

  <span>Will show when valid: {{ newLink }}</span> </br>
 <!--  <span>Ha!!! {{ newLink }} </span></br>
  <span>wham!!! {{ link | json }}</span></br> -->

</div>


